@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand: #8a2be2;
  --color-brand-hover: #7b1fa2;
}

@layer base {
  body {
    @apply antialiased overflow-hidden transition-colors duration-300;
    @apply bg-gray-100 text-gray-900;
  }

  .dark body {
    @apply bg-[#121212] text-white;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full dark:bg-white/10;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-400;
}